<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up for Froshmate!</h1>
    <p>
      We're working on a beta version of our service and we'll be in touch soon
      with instructions on how to access it :)
    </p>
    <p>Best,</p>
  </body>
</html>