<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for signing up for Froshmate!</p>
    <p>    
      We're working on a beta version of our service - we'll be in touch soon
      with information on how to get early access :)
    </p>
    <p>We're really excited to work with you!</p>
    <p>Best,</p>
    <p>Sid</p>
  </body>
</html>