<div class="ui inverted blue center aligned compact page grid">
	<div class="ui segments" style="margin-top: 15%; padding:0px">
		<div class="ui center aligned inverted black segment" style="width: 100%; margin-bottom:-1px">
			<div class="ui left floated header"> {{#link-to 'index' class="ui left floated link"}} <i class="large left arrow icon"/> {{/link-to}} </div>		
			<div class="ui huge inverted header" style="margin-right: 6%"> <i class="users icon"/> Our Team </div>
		</div>			
		<div class="ui inverted black horizontal segments">
			  <div class="ui center aligned inverted black segment">
			  	<img class="ui medium circular centered image" src="assets/images/sid.jpg">
			    <div class="ui huge inverted header">Sid Murching </div> 
			    <div class="ui inverted header"> Sid is a rising junior at Caltech and ex-Apple intern interested in
			    	machine learning and math.
			    </div>
				<a target="_blank" href="https://www.linkedin.com/pub/siddharth-murching/23/637/254"> <i class="circular large link inverted blue linkedin icon"/> </a>
				<a target="_blank" href="http://github.com/friendlymustache"> <i class="circular large link inverted blue github icon"/> </a>
			  </div>

			  <div class="ui center aligned inverted black segment">
			  	<img class="ui medium circular centered image" src="assets/images/vansh.jpg">
			    <div class="ui huge inverted header">Vansh Kumar </div> 
			    <div class="ui inverted header"> Vansh is a rising senior at Caltech and ex-Google intern interested in
			    	systems and algorithms.
			    </div>
				<a target="_blank" href="https://www.linkedin.com/pub/vansh-kumar/37/a7/a45"> <i class="circular large link inverted blue linkedin icon"/> </a>
				<a target="_blank" href="https://github.com/vanshkumar"> <i class="circular large link inverted blue github icon"/> </a>
			  </div>

			  <div class="ui center aligned inverted black segment">
			  	<img class="ui medium circular centered image" src="assets/images/vishal.jpg">
			    <div class="ui huge inverted header">Vishal Talasani </div> 
			    <div class="ui inverted header"> Vishal is a rising sophomore at UChicago interested in
			    	applied math and business development.
			    </div>
				<a target="_blank" href="http://www.linkedin.com/in/vtalasani"> <i class="circular large link inverted blue linkedin icon"/> </a>
				<a target="_blank" href="http://github.com/Lahsiv"> <i class="circular large link inverted blue github icon"/> </a>
			  </div>    
		</div>
	</div>		

</div>
{{outlet}}